{{ theme:partial src="navbar-co-founder" }}
<section class="intro">
    <div class="container">
        <div class="row founder-name-row">
            <div class="col-sm-6 text-center">
                <h2>{{ title }}
                </h2>
            </div><!-- /.col-sm-6 -->
            <div class="col-sm-6 text-right">
                <div class="social-top hidden-xs hidden-sm hidden-xs">
                {{ if linkedin }}
                <a href="{{ linkedin }}" target="_blank"><img class="social-icon" src="/assets/images/icon-linked-in.png"></a>
                {{ /if }}
                {{ if twitter }}
                <a href="http://www.twitter.com/{{ twitter }}" target="_blank"><img class="social-icon" src="/assets/images/icon-twitter.png"></a>
                {{ /if }}
                </div>
            </div><!-- /.col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="{{ photo }}">
                <p class="founder-caption">{{ bio_caption }}</p>
            </div><!-- /.col-sm-6 -->
            <div class="col-sm-6">
                {{ if quote }}
                <p class="founder-quote">“{{ quote }}”</p>
                {{ /if }}
                {{ content }}
              
            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->

        <div class="row founder-meta">
            {{ entries:listing folder="startups" conditions="url:{startup}"}}
            <div class="col-sm-4 text-center">
                <h3>City</h3>
                <h3 class="alt-sans">{{ city }}</h3>
            </div>
            <div class="col-sm-4 text-center">
                <h3>Startup</h3>
                <h3 class="alt-sans">
                {{ if link }}
                <a href="{{ link }}" target="_blank">{{ title }}</a>
                {{ else }}
                {{ title }}
                {{ /if }}
                </h3>
                <p>{{ tag }}</p>
                {{ if related }} 
                {{ theme:partial src="related_startups2" rel="{ related|option_list }"}}
                {{ /if }}
            </div>
            {{ /entries:listing }}
            {{ entries:listing folder="co-founders" limit="1" conditions="startup:{startup},title:!{title}" }}
            <div class="col-sm-4 text-center">
                <h3>Partner</h3>
                <h3 class="alt-sans">
                    <a href="{{ url }}">{{ title }}</a>
                </h3>
            </div>
            {{ /entries:listing }}
           
           
        </div>
        <div class="row social-bottom hidden-md hidden-lg text-center pad-bottom">
            {{ if linkedin }}
            <a href="{{ linkedin }}" target="_blank"><img class="social-icon" src="/assets/images/icon-linked-in.png"></a>
            {{ /if }}
            {{ if twitter }}
            <a href="http://www.twitter.com/{{ twitter }}" target="_blank"><img class="social-icon" src="/assets/images/icon-twitter.png"></a>
            {{ /if }}
        </div>            
    </div><!-- /.container -->
</section>
{{ theme:partial src="footer" }}