{{ theme:partial src="navbar-home" }}
<section class="newstickerwrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="position: relative;">
                <p class="ticker-fade">&nbsp;</p>
                <p class="ticker-title"><a href="/news/">News:</a></p>
                <ul id="news-scroller" >
                    {{ news }}
                      {{ get_content from="{ value }" }}
                        {{ if news_article == TRUE }}
                            <li><a href="{{ url }}">{{ title }}</a></li>    
                        {{ else }}
                            <li><a href="{{ news_link }}" target="_blank">{{ title }}</a></li>
                        {{ /if }}
                      {{ /get_content }}
                    {{ /news }}
                </ul>
            </div>
         </div>
    </div>
</section>

<div class="cover">
    <h2><a href="#intro">A New Model</a></h2>
    <h2><a href="#co-founders">Co-Founder Network</a></h2>
    <h2><a href="#power">The Power<br>of Coca-Cola</a></h2>
    <h2><a href="#q-and-a">Q+A</a></h2>
    <h2><a href="/news/">News</a></h2>
    <h2><a href="#contact-box">Contact</a></h2>
</div>

<section id="intro" class="intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>A New Model<br>
                    for Creating Startups
                </h2>
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-6">
                {{ intro1 }}
           
            </div><!-- /.col-sm-6 -->
            <div class="col-sm-6">
                {{ intro2 }}
             
            </div><!-- /.col-sm-6 -->

            <div class="col-sm-12 pad-top pad-bottom">
                <img class="img-responsive img-center lazy" data-original="/assets/images/co-founder-formula.png">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
{{ if video }}
<section class="video">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 video-wrapper">
                <!-- Embedded video code -->
                {{ video }}
                {{#
                <iframe src="//player.vimeo.com/video/110331419?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                #}}
            </div>
        </div>
    </div>
</section>
{{ /if }}
{{#
<section class="video">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
            
             
             <!--<video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls
             preload="auto" width="640" height="264" poster="MY_VIDEO_POSTER.jpg"
             data-setup="{}">
             <source src="iHydrate-HD.mp4" type='video/mp4'>
             <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>-->

            <!--  <img class="img-responsive img-center" src="/assets/images/video-fpo.png">           
            </div>
        </div>
    </div>
</section>
#}}
<section id="co-founders" class="network">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Co-Founder<br>
                    Network
                </h2>
            </div><!-- /.col-sm-12 -->
        </div>

            {{ entries:listing folder="startups" conditions="url:{ startups|option_list }" }}
            {{ switch between="<div class='row'>|" }}
                <div class="col-sm-6 founder-pair-wrapper">
                    <div class="city-script-wrapper"><img class="img-responsive img-center lazy" data-original="{{ city_logo }}"></div>
                    <div class="row founder-pair">
                    {{ theme:partial src="co_founder_pair" team="{ url }" }}
                    </div><!-- /.founder-pair -->
                </div><!-- /.col-sm-6 -->
            {{ if count != total_results }}{{ switch between="|</div><!-- ./row of 2 --> " }} {{ /if }}
            {{ if count == total_results }}</div><!-- ./row of 2 -->{{ /if }}
            {{ /entries:listing }}
           
          
    </div><!-- /.container -->
</section>
<section id="power" class="power pad-top pad-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>The Power&nbsp;of</h2>
                <img class="img-responsive img-center lazy" data-original="/assets/images/coca-cola-logo-large.png">
            </div>
        </div>
        <div class="row pad-top">
            <div class="col-sm-4 text-center">
                <h3>Resources</h3>
                {{ resources }}
                    <h4>{{ heading }}</h4>
                    <p>{{ copy }}</p>
                {{ /resources }}
            </div>
            <div class="col-sm-4 text-center">
                <h3>Reach</h3>
                {{ reach }}
                    <h4>{{ heading }}</h4>
                    <p>{{ copy }}</p>
                {{ /reach }}
        
                
            </div>
            <div class="col-sm-4 text-center">
                <h3>Relationships</h3>
                {{ relationships }}
                    <h4>{{ heading }}</h4>
                    <p>{{ copy }}</p>
                {{ /relationships }}
            
            </div>
        </div>
    </div>
</section>

<section id="q-and-a" class="q-and-a">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Q+A</h2>
            </div>
        </div>
        {{ qa }}
        <div class="row qa-block">
            <div class="col-sm-12 text-center">
                <h3 class="alt">
                   {{ question }}
                </h3>
            </div>
            <div class="col-sm-6">
                {{ answer1 }}                
            </div>
            <div class="col-sm-6">
                {{ answer2 }}
            </div>
        </div>
        {{ /qa }}
     
    </div>
</section>

<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div id="contact-box" class="col-xs-12 col-sm-8 col-sm-offset-2 contact-box">
                <h2>Contact</h2>
                {{ contact }}
             
                    
            </div>
        </div>
    </div>
</section>
{{ theme:partial src="footer" }}