{{ theme:partial src="navbar-co-founder" }}
<div class="wrap">
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                {{ if segment_2 }}
                <p class="back-link"><a href="/news/">&laquo; Back to News</a></p>
                {{ /if }}
                <h2>{{ title }}
                </h2>
                {{ if segment_2 }}
                    <p class="post-meta">{{ datestamp format="F jS, Y" }}</p>
                {{ /if }}
            </div><!-- /.col-sm-12 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-12">

            {{ if segment_2 }}
                {{ if news_video }}
                <div class="video video-news">
                    <div class="row">
                        <div class="col-sm-12 video-wrapper">
                            <!-- Embedded video code -->
                            {{ news_video }}
                           
                        </div>
                        
                    </div>
                    {{ if news_video_caption }}
                    <div class="row">
                    <p class="video-caption">{{ news_video_caption }}</p>
                    </div>
                    {{ /if }}

                </div>

                {{ /if }}
                {{ news_desc }}
                {{ if news_link }}
                    <p><a class="red-button" href="{{ news_link }}" target="_blank">View Online</a></p>
                {{ /if }}


                
            {{ else }}
                {{ entries:listing }}
                    <p class="news-date">{{ datestamp format="F jS, Y" }} {{ if news_pub }}<span>{{ news_pub }}</span>{{ /if }}</p>
                    {{ if news_article == TRUE }}
                        <h4 class="news-title">
                            <a href="{{ url }}">{{ title }}</a>
                        </h4>    
                    {{ else }}
                        <h4 class="news-title">
                            <a href="{{ news_link }}" target="_blank">{{ title }}</a>
                        </h4>
                    {{ /if }}                    
                {{ /entries:listing }}
            {{ /if }}   
            </div><!-- /.col-sm-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.main -->
</div><!-- /.wrap -->
{{ theme:partial src="footer" }}