{{ theme:partial src="navbar-co-founder" }}
<div class="wrap">
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>{{ title }}
                </h2>
            </div><!-- /.col-sm-12 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-12">
               {{ content }}
            </div><!-- /.col-sm-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.main -->
</div><!-- /.wrap -->
{{ theme:partial src="footer" }}