{{ entries:listing folder="co-founders" limit="2" conditions="startup:{ team }" }}
<div id="{{ slug }}" class="col-xs-6">
    <a href="{{ url }}"><img class="img-responsive founder-thumb lazy" data-original="{{ transform src='{ photo }' width='353' }}"></a>
    <p><a class="founder-name" href="{{ url }}">{{ title }}</a><br>
    {{ get_content from="{ startup }" }}
        <span class="founder-city">{{ city }}</span><br>
        {{ if link }}
        <a href="{{ link }}" target="_blank">{{ title }}</a>
        {{ else }}
       	{{ title }}
       	{{ endif }}
        {{ if related }}
        {{ theme:partial src="related_startups" rel="{ related|option_list }"}}
        {{ /if }}
        </p>
     {{ /get_content }}         
</div><!-- /.col-sm-6 -->             
{{ /entries:listing }}