<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
            <p>Copyright © {{ current_date format="Y" }} <a href="http://www.coca-colacompany.com" target="_blank">The <span style="white-space: nowrap">Coca-Cola&nbsp;Company</span></a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://www.coca-colacompany.com/our-company/privacy-policy" target="_blank">Privacy Policy</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/legal">Legal Notices and Disclaimers</a></p>
            </div>
        </div>
    </div>
</section>