<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            
            <div class="navbar-brand"><a href="/#{{ segment_2 }}"><img src="/assets/images/founders-logo-54.png"></a></div>

        </div>

        <div class="btn-close"><a href="/#{{ segment_2 }}"><img src="/assets/images/close-x.png"></a></div>
    </div>
</div>