<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <div class="navbar-brand"><a class="scroll-link" href="#intro"><img class="img-responsive" src="/assets/images/founders-logo-54.png"></a></div>
        </div>
    
        <div id="btn-menu" class="btn-menu"><a href="#"><img src="/assets/images/menu-icon.png"></a></div>
        <div id="btn-close" class="btn-close"><a href="#"><img src="/assets/images/close-x.png"></a></div>

    </div>
</div>