{{ entries:listing folder="startups" limit="2" conditions="url:{ rel }" }}
        <h3 class="alt-sans">
        {{ if link }}
        <a href="{{ link }}" target="_blank">{{ title }}</a>
        {{ else }}
        {{ title }}
        {{ /if }}
        </h3>
        <p>{{ tag }}</p>
{{ /entries:listing }}