<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Coca-Cola Founders platform is a new model for creating seed-stage startups. We partner with experienced entrepreneurs around the world and give them access to Coca-Cola’s relationships, resources and reach before they develop their next startup.">
    <meta name="author" content="The Coca-Cola Company">
    <link rel="icon" href="/assets/favicon.ico">

    <title>{{ _site_name }}</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ theme:css }}">
    {{# Typekit fonts 
    <script src="//use.typekit.net/epu8hjb.js"></script>
    <script>
    try {
        Typekit.load();
    } catch (e) {}
    </script>
    #}}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    {{# Video JS
    <link href="http://vjs.zencdn.net/4.8/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.8/video.js"></script>
    #}}
</head>

<body class="{{ segment_1 }}{{ if segment_1 =='' }} home{{ /if }}">
   {{ layout_content }}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/assets/js/jquery.lazyload.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.fitvids.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.newsTicker.min.js"></script>
    {{#
    <script src="/assets/js/jquery.marquee.min.js"></script>
    <script src="/assets/js/jquery.li-scroller.1.0.js"></script> 
    #}}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{ theme:js }}"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55361596-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script type="text/javascript">
     function scroll_if_anchor(href) {
        href = typeof(href) == "string" ? href : $(this).attr("href");

        // If href missing, ignore
        if(!href) return;

        // You could easily calculate this dynamically if you prefer
        var fromTop = 150;

        // If our Href points to a valid, non-empty anchor, and is on the same page (e.g. #foo)
        // Legacy jQuery and IE7 may have issues: http://stackoverflow.com/q/1593174
        if(href.charAt(0) == "#") {
            var $target = $(href);

            // Older browsers without pushState might flicker here, as they momentarily
            // jump to the wrong position (IE < 10)
            if($target.length) {
                $('html, body').animate({ scrollTop: $target.offset().top - fromTop }, 300);
                if(history && "pushState" in history) {
                    history.pushState({}, document.title, window.location.pathname + href);
                    return false;
                }
            }
        }
    }    

    // When our page loads, check to see if it contains and anchor
    scroll_if_anchor(window.location.hash);

    </script>
   
    <script type="text/javascript">

    $(function() {

        $('ul#news-scroller').newsTicker({
            row_height: 20,
            max_rows: 1,
            speed: 600,
            direction: 'up',
            duration: 4000,
            autostart: 1,
            pauseOnHover: 1
        });
        {{#
        $('ul#news-scroller').marquee({
            //speed in milliseconds of the marquee
            duration: 20000,
            //gap in pixels between the tickers
            gap: 50,
            pauseOnHover: true,
            //time in milliseconds before the marquee will start animating
            delayBeforeStart: 0,
            //'left' or 'right'
            direction: 'left',
            //true or false - should the marquee be duplicated to show an effect of continues flow
            duplicated: true
        });
        #}}

    

    // $("ul#news-scroller").liScroll({travelocity: 0.15});


    // $('#news-scroller').newsTicker({
    //     row_height: 20,
    //        max_rows: 1,
    //        speed: 600,
    //        direction: 'up',
    //        duration: 4000,
    //        autostart: 1,
    //        pauseOnHover: 0
    // });

    $("img.lazy").lazyload({
        effect : "fadeIn",
        effect_speed: 500 
    });

    $(".video-wrapper").fitVids();
    
    var curPos = window.pageYOffset;
      $('#btn-menu').click(function() {
        curPos = window.pageYOffset;
        $('.cover').show();
        $(this).hide();
        $('#btn-close').show();
        return false;
      });
      $('body.home #btn-close').click(function() {
        $(this).hide();
        $('#btn-menu').show();
        $('.cover').hide();
        return false;
      });
      //$('a[href*=#]:not([href=#])').click(function() {
      $('.cover a, a.scroll-link').click(function() {
        $("html").scrollTop(curPos);
        $('#btn-close').hide();
        $('#btn-menu').show();
        $('.cover').hide();
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top - 200 //175
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>
</body>
</html>